.wholeScreen {
  background-image: url("https://images.unsplash.com/photo-1517315003714-a071486bd9ea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.App {
  margin: 0 auto;
  max-width: 600px;
  filter: drop-shadow(0 0 0.75rem #fd99ff);
  padding-top: 20px;
}

footer {
  text-align: center;
  font-size: 10px;
}
