body {
  background-image: url("https://images.unsplash.com/photo-1517315003714-a071486bd9ea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  padding: 30px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 15px;
  border: 1px solid #c54c82;
  border-radius: 30px;
  background: #fdfdcb;
  filter: drop-shadow(0 0 0.75rem #fd99ff);
}

#city-input {
  width: 50%;
  text-indent: 20px;
  border: 1px;
  border-radius: 20px;
  height: 50px;
}
#enter-button {
  width: 20%;
  color: #ef89a4;
  border: 1.5px solid;
  border-radius: 20px;
  height: 50px;
  background-color: white;
  border-color: #ef89a4;
}
#current-button {
  width: 20%;
  color: #ef89a4;
  border: 1.5px solid;
  border-radius: 20px;
  height: 50px;
  background-color: white;
  border-color: #ef89a4;
}
#enter-button:hover {
  background-color: #ef89a4;
  color: white;
}
#current-button:hover {
  background-color: #ef89a4;
  color: white;
}

.myForm {
  font-family: "PT Mono", monospace;
}

h1 {
  color: #c54c82;
  padding: 0px;
  margin-top: 55px;
  margin-bottom: 0px;
  line-height: 5px;
  font-family: "Caprasimo", cursive;
}
h3 {
  font-weight: bold;
  color: #ec729c;
  font-family: "PT Mono", monospace;
}
.rightC {
  padding: 0px;
  margin-top: 40px;
  font-family: "PT Mono", monospace;
}
.fa-solid {
  color: #c54c82;
}

.tempButton {
  font-size: 10px;
  border: 0.5px #c54c82 solid;
  border-radius: 30px;
  background-color: white;
  position: relative;
  top: -10px;
}

#current-temp {
  font-size: 50px;
  color: #c54c82;
  font-family: "PT Mono", monospace;
  text-shadow: 1px 1px 2px white;
}
#celsius {
  position: relative;
  font-size: 20px;
  top: -20px;
  text-decoration: none;
  font-family: "PT Mono", monospace;
  color: #c54c82;
  font-weight: bold;
  text-shadow: 1px 1px 2px white;
}

.credits {
  text-align: center;
  font-size: 10px;
  line-height: 1px;
}
#icon {
  display: inline-block;
  height: 80px;
  vertical-align: top;
  width: 80px;
  filter: drop-shadow(0 0 0.75rem #fd99ff);
}
.active {
  color: black;
  cursor: default;
}
