.WeatherForecast {
  text-align: center;
  margin-top: 30px;
}
.WeatherForecast-day {
  font-weight: bold;
  color: #1E92B5;
}
.WeatherForecast-temperatures {
  text-align: center;
}
.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
