.WeatherForecast{
    text-align: center;
}
.WeatherForecast-day{
    margin-bottom: 8px;
}
.WeatherForecast-temperatures{
    margin-top: 8px;
}
.WeatherForecast-temperature-min{
    opacity: 0.6;
    margin-left: 5px;
}
